{
    "applications": {
        "app1": {
            "type": "java",
            "webapp": "/www/"
        },
        "python_app": {
            "type": "python",
            "path": "/www/",
            "module": "wsgi"
        },
        "perl_app": {
            "type": "perl",
            "working_directory": "/www/",
            "script": "/www/app.psgi"
        }
    },
    "listeners": {
        "*:9080": {
            "application": "app1"
        },
        "*:8080": {
            "pass": "applications/python_app"
        },
        "*:8085": {
            "pass": "applications/perl_app"
        }
    }
}
